<%- include('./partials/header') %>

<main>
    
        <div class="container">
            <h2>View Items</h2>
            <form action="/" id="category-form">
                <select class="form-select" name="category" id="category" onchange="this.form.submit()">
                    <option value="All" <%= selectedCategory === 'All' ? 'selected' : '' %>>All items</option>
                    <% categories.map((category) => { %>
                    <option value="<%= category.title %>" <%= selectedCategory === category.title ? 'selected' : '' %>><%= category.title %></option>
                    <% }) %>
                </select>

                <input type="hidden" name="search" id="search-input" value="<%= searchQuery || '' %>">
            </form>
            <div>
                <h3>Search Item</h3>
                <form action="/">
                    <div class="form-floating mb-3">
                        <input name="search" type="text" class="form-control" id="floatingInput" value="<%= searchQuery || '' %>">
                        <label for="floatingInput">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                              </svg>
                        </label>
                    </div>

                    <input type="hidden" name="category" value="<%= selectedCategory %>">
                </form>
            </div>
            <div>
                <a href="/add">
                    <button class="btn btn-primary">
                        Add new item
                    </button>
                </a>
                <a href="/addCategory">
                    <button class="btn btn-success">
                        Add Category
                    </button>
                </a>
            </div>
            <div class="mt-5">
                <h3><%= selectedCategory === 'All' ? 'All Items' : selectedCategory %></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% values.map((value) => { %>
                            <tr>
                                <th><%= value.item_name %></th>
                                <th><%= value.description %></th>
                                <th><%= value.qty %></th>
                                <th><%= value.price %></th>
                                <th><% const category = categoryName.find(category => category.id === value.category_id);%>
                                    <% if (category) {  %>
                                        <%= category.title %>
                                    <% } else { %>
                                        
                                    <% } %>
                                </th>
                                <th>
                                    
                                        <a href="/item/<%= value.id %>">
                                            <button class="btn btn-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                              </svg>
                                            </button>
                                        </a>
                                        <a href="/edit/<%= value.id %>">
                                            <button class="btn btn-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                  </svg>
                                            </button>
                                        </a>
        
                                            <button class="btn btn-danger" onclick="confirmDelete(<%= value.id %>)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                  </svg>
                                            </button>
                           
                                   
                                </th>
                            </tr>
                       <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    
</main>

<script>
    function confirmDelete(itemId) {
        const password = prompt("Enter the admin password to delete this item.")

        if (password === 'iamadmin') {
            window.location.href = `/delete/${itemId}`
        } else if (password !== null) {
            alert('Incorrect Password. Deletion canceled')
        }
    }
</script>


<%- include('./partials/footer') %>